body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
a:hover {text-decoration: dashed;}
ul {list-style: none;}
table {position: relative;
    left: 25%;
    right: 25%;
    width: 50%; 
    border-style: solid;
    border-color: blue;
    border-radius: -4%;
    }
select:hover {color: blue;}
label:hover {color: brown;}
input:hover {color: blueviolet;}