body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url('../../../../assets/photos/22987460763_34d580aa62_k.jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

h1,h3 {
    color: orange;
}

.flex_parent{
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-flow: row wrap;
}
.flexi_kid{
}