<div style="text-align:center;">
    <p style="padding-top: 100px;">

        What we can offer

        Through a partnership with BEST Skopje, companies have the opportunity to interact with highly motivated and
        internationally minded students at the Saints Cyril and Methodius University. <br> In addition, BEST courses in
        Skopje attract top international technical students from across Europe, many of whom are interested in living
        and working in Skopje in the future.
    </p>
    <p>
        BEST Skopje provides three main services to our corporate partners:
    </p>

    <ul>

        <li>Job Fair - this week-long event links students with employers interested in hiring interns or employees.
            BEST Skopje provides the stand and a promotional campaign, allowing companies to reach the students right
            where they spend most of their time, their faculties.
        </li>

        <li>Engineering Competitions - your company can be a part of this practical competition, in which students race
            to solve open-ended design and consulting problems under time and resource constraints. As partners,
            companies are invited to judge the competition, award prizes to winning teams and review the CV of
            competitors.
        </li>

        <li>Annual Partnerships - be a part of our organization's ongoing events and services. This partnership gives
            the opportunity to present your company at our BEST courses in front of an international student audience,
            as well as at all our internal events through the academic year. This exposure can be in the form of a
            presentation, a tour of your corporate facilities or even direct integration into the topic of a course or
            engineering competition.
        </li>

    </ul>

    <p style="padding-bottom: 50px;">
        All partners are also featured in our newsletters, on our website and social media presence. <br>

        Contact us here: <a href="mailto:\skopje@best-eu.org">skopje best-eu.org</a>
    </p>
</div>