<div style="text-align: center;">
    <p style=" padding-top: 100px;">
        Are you a student who wants to join our organization?<br>
        A company that would like to work with us?<br>
        Or just a person with important questions?<br>
    </p>
    <p>
        You can find our office at the technologies campus <br>


        Adress:Baraka 5, FEIT, Rugjer Boshkovik Bb, Септемвриска Сесија 5, Skopje 1000, North Macedonia <br>
    <p>
        Our weekly meetings take place every Tuesday at 20:00, and
        you are very welcome to join us! <br>

        ***Please note thatthere are no Meetings during
        vacation or when the university is closed.*** <br>
    </p>
    <p style="padding-bottom: 50px;">
        Do you need any quick information? <br>
        Don't hesitate to contact us via email and we'll answer you as soon as possible!</p>
</div>