img.icon_xs {
    height: 15px;
}

img.icon_s {
    height: 30px;
    
}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    background: gainsboro; 
    border-radius: 10px;
  }
    ::-webkit-scrollbar-thumb:hover {
    background: gray; 
  }
img.icon_m {
    height: 40px;
    padding: 0%;
    margin: 0%;
}
img.icon_l {
    height: 160px;
    margin: 20px;
}

a {
    text-decoration: none;
}

body {
    background-color: antiquewhite;
    font-family: Tahoma, sans-serif;
}

nav {
    position: relative;
    font-weight: bolder;
    margin-top: -10px;
    margin-left: -20px;
    margin-right: -20px;
    background-color: #FF7F50;
    overflow: hidden;
}

a.nav:hover {
    color: orangered;
}

a.nav {
    color: white;
    font-size: x-large;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
}

nav a {
    /* ??? */
    float: left;
    padding: 20px 20px;
}

div.space {
    padding-bottom: 50px;
    margin-left: -20px;
    margin-right: -20px;
}

section.picture {
    background-image: url(Resourses/303450-landscape-beach-sunset.jpg);
    margin-left: -20px;
    margin-right: -20px;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

thead {
    background-color: coral;
}

table {
    border: 1;
    border-style: groove;
    border-color: coral;
    position: relative;
    width: 60%;
    left: 20%;
}

section.survey ul li {
    float: left;
    margin: 7px;
    list-style: none;
    text-align: center;
}

section.survey td.radiogroup {
    text-align: center;
    align-content: center;
    vertical-align: middle;
    position: relative;
}

section.survey td.radiogroup ul li {
    position: relative;
    left: 34%;

}

section.survey td.slider {
    text-align: center;
}

textarea {
    background-color: #f1f1f1;
    overflow: hidden;
    position: relative;
    left: 2%;
    width: 95%;
}

td.survey_end {
    float: right;
}

tfoot {
    background-color: coral;
}

div.btn_b {
    border-radius: 30px;
    background-color: #FF7F50;
    color: #f1f1f1;
    width: 400px;
    height: 125px;
    text-align: center;
    font-size: large;
    position: relative;
}
div.btn_s {
    border-radius: 10px;
    background-color: #FF7F50;
    color: #f1f1f1;
    width: 120px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: large;
    position: absolute;
    left: 60%;
    bottom: -10%;
}
div.btn_s:hover{
    background-color:orangered;
}
div.btn_xs{
    background-color: #FF7F50;
    color: #f1f1f1;
    width: 60px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    text-align: center;
    font-size: x-small;
    position: absolute;
    margin: 5px;
    right: 0;
}
div.btn_xs:hover{
    background-color: orangered;
}

div.cardcomments {
    background-color: #f1f1f1;
    width: 400px;
    height: 150px;
}
div.cardcommentc {
    color: black;
    width: 380px;
    height: 150px;
    overflow: auto;
    padding-left: 10px;
}
ul.comments{
    list-style-type: none;
    padding: 0;
    margin: 3px;
}
li.comments{
    height: 30px;
    width: 360px;
    color: black;
    border-bottom: 1px solid black;
    margin-bottom: 3px;

}

div.cardcomment{
    background-color: #f1f1f1;
    color: black;
    width: 400px;
    height: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
}
div.cardcomment_box{
    background-color: gainsboro;
    color: black;
    width: 330px;
    height: 30px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    top: 0;
    padding-right: 10px;
}
div.trashicon{
    position: relative;
    float:right;
}
div.cardcategories_photo {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    background-color: #f1f1f1;
    width: 400px;
    height: 250px;
}

div.cardcategories_mtext {
    background-color: #F5DEB3;
    position: relative;
    color: black;
    width: 400px;
    height: 100px;
}

div.cardcategories_text {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #F5DEB3;
    position: relative;
    color: black;
    width: 400px;
    height: 200px;
}
input.texts{
    position: absolute; 
    top: 4px; 
    left: 20px;
    padding:3px;
    display:block;
    border:none;
    background-color: inherit;
    border-bottom:1px solid gray;
    width:70%
}
footer {
    margin-right: -10px;
    margin-left: -10px;
    margin-bottom: -10px;
}

footer a{
    color: #f1f1f1;
    font-size: large;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
}

div.dark_part {
    position: relative;
    background-color: coral;
    padding: 70px 0;
}

div.textSummary {
    position: relative;
    background-color: #F5DEB3;
    height: 300px;
    padding: 10px 0;
}

div.light_part {
    position: relative;
    background-color: #F5DEB3;
    padding: 70px 0;
}

div.container {
    position: absolute;
    width: 80%;
    left: 10%;
}

div.container2 {
    position: absolute;
    width: 60%;
    left: 20%;
}

div.left {
    float: left;
}

div.right {
    float: right;
}

div.centered {
    float: none;
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
}

h3.textcard{
    position:relative; 
    padding: 0%; 
    margin: 0%; 
    left: 5%; 
    top: 5%;
}
a.btn{
    text-decoration: none;
    color: #f1f1f1;
    font-size: xx-large;
    line-height: 120px;
}
p.textcard{
    position:relative; 
    padding: 0%; 
    margin: 0%; 
    left: 5%; 
    top: 5%;
}
section.cart{
    width: 70%;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto; 
}
div.item{
    background-color: #F5DEB3;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
}

section.payment{
    width: 20%;
    position: relative;
    float: right;
    position: sticky;
    top: 0;
}

div.btnpayment{
    background-color: coral;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    color: #f1f1f1;
}

div.columb{
    float: left; 
    padding: 40px;
    display: inline-block;
}
div.columb{
    white-space: nowrap;
}