<div style="text-align: center;">

    <h2>Annual Partners</h2>

    <div style="display: flex; justify-content: center; flex-flow: row wrap;">
        @for (item of partnerList; track $index) {
            @if (item.type=="annual") {
                <app-card-enteties [ent]=item />
            }
        }
    </div>

    <hr>

    <h2>Corporate Partners</h2>

    <div style="display: flex; justify-content: center; flex-flow: row wrap;">
        @for (item of partnerList; track $index) {
            @if (item.type=="partner") {
                <app-card-enteties [ent]=item />
            }
        }
    </div>

    <hr>

    <h2>Sponsors</h2>

    <div style="display: flex; justify-content: center; flex-flow: row wrap;">
        @for (item of partnerList; track $index) {
            @if (item.type=="sponsor") {
                <app-card-enteties [ent]=item />
            }
        }
    </div>

    <hr>

    <h2>Media Partners</h2>

    <div style="display: flex; justify-content: center; flex-flow: row wrap;">
        @for (item of partnerList; track $index) {
            @if (item.type=="media") {
                <app-card-enteties [ent]=item />
            }
        }
    </div>

    <hr>

    <h2>Friends</h2>

    <div style="display: flex; justify-content: center; flex-flow: row wrap;">
        @for (item of partnerList; track $index) {
            @if (item.type=="friend") {
                <app-card-enteties [ent]=item />
            }
        }
    </div>

    <hr>

    <h2>Faculty Support</h2>

    <div style="display: flex; justify-content: center; flex-flow: row wrap;">
        @for (item of partnerList; track $index) {
            @if (item.type=="faculty") {
                <app-card-enteties [ent]=item />
            }
        }
    </div>

    <hr>

</div>