body
{
    background-color: salmon;
}
header
{
    background-color: orange;
    text-align: center;
    color: white;
    background-size: cover;
    border-radius: 50px;

}
header h1
{
    padding: 20px;
}
section.game
{
    height: 450px;
}
section.game div.text
{
    width: 40%;
    float: left;
    background-color: aliceblue;
    height: 500px;
    text-align: center;
    border-radius: 50px;

}
section.game div.picture
{
    width: 55%;
    float: right;
    height: 500px;
    background-color: bisque;
    text-align: center;
    overflow: hidden;
    border-radius: 50px;
}

section.keyboard{
    text-align: center;
    background-color: aliceblue;
    border-radius: 50px;
    margin-top: 80px;
    padding: 20px;
}
footer
{
    background-color: orange;
    text-align: center;
    border-radius: 50px;
    background-size: cover;
}
table.table{
    margin-left: 10%;
    width: 80%;
}