<div style="text-align: center;">

    <h2>Local Board</h2>
    <div style="display: flex; justify-content: center; flex-flow: row wrap;">
        @for (member of membersList | async ; track $index;){
            @if (member.type=="0") {
                <app-card-people [person]="member" />
            }
        }
    </div>

    <hr>

    <h2>Non-Boardies</h2>
    <div style="display: flex; justify-content: center; flex-flow: row wrap;">
        @for (member of membersList | async; track $index;){
            @if (member.type=="1") {
                <app-card-people [person]="member" />
            }
        }
    </div>

    <hr>

    <h2>Project Coordinators</h2>
    <div style="display: flex; justify-content: center; flex-flow: row wrap;">
        @for (member of membersList | async; track $index;){
            @if (member.type=="2") {
                <app-card-people [person]="member" />
            }
        }
    </div>

    <hr>

    <h2>Full Members</h2>

    <div>
        
        @for (member of membersList | async; track $index;){
            @if (member.type!="4") {
                <p> {{member.name}} </p>
            }
            
        }
    </div>

    <hr>

</div>